/* CSS Document */
<style type="text/css">
a{}

@font-face {
	font-family: 'Franchise2';
        src: url('franchise-bold-webfont3.eot');
	src: local('вє'), url('franchise-bold-webfont3.woff') format('woff'), url('franchise-bold-webfont3.ttf') format('truetype'), url('franchise-bold-webfont3.svg#webfontdI5uohOI') format('svg');
    	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSlab500';
        src: url('museo_slab_500-webfont.eot');
	src: local('вє'), url('museo_slab_500-webfont.woff') format('woff'), url('museo_slab_500-webfont.ttf') format('truetype');
    	font-weight: normal;
	font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background: none repeat scroll 0 0 transparent;
}

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { 
	margin:0; 
	padding:0; 
	font-size:100%; 
	vertical-align:baseline; 
	background:transparent;  
	color: #b3b0a0; 
	text-decoration: none; 
	outline: 0;
}

a:hover { color: #525046; }

a.buttonLink {
	display: inline-block; 
	background-color: #252525; 
	padding: 0.05em 0.4em; 
	border-radius: 0.25em; -moz-border-radius: 0.25em; -webkit-border-radius: 0.25em;	
}

a.buttonLink:hover {
	background-color: #999; 
}


ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

sup { font-size: x-small; vertical-align:text-top; }
/* END RESET CSS */


/*
 * base styles
 */

body { font:18px "MuseoSlab500", "Lucida Sans", "AmericanTypewriter", "Helvetica Neue", Arial; color: #979484; *font-size:small; *font:x-small; line-height:1.5; }

h1,h2,h3,h4,h5,h6 { font-weight: normal; text-rendering: optimizeLegibility; }

html { -webkit-font-smoothing: antialiased; }

.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input.submit, button { cursor: pointer; }

::-moz-selection{ background: #45443d; color: #ece6d2; text-shadow: none; }
::selection { background: #acaba5; color: #ece6d2; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }
html { overflow-y: scroll; }

button {  width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }


.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }


/*=============================			Normal Styles		1111 and higher		====================================*/

body { 
	background: #000 url(../images/ab-test/city-bottom.jpg) bottom center no-repeat;
	padding-bottom: 500px;
	}


h1, h2 {
	text-transform: uppercase;
	font-family: 'Franchise2', Helvetica, Arial;
	font-weight:lighter;
    letter-spacing: -0.03em;
}

h3, h4 {
	font-family: "MuseoSlab500", "AmericanTypewriter", "Lucida Sans", Georgia, Arial;
	font-weight: bold;
}

h3 {
	font-size: 140%;
	margin-top: 0.5em; /*3em*/
}

h1 {
	font-size: 83px;
	line-height:68px;
}

h2 {
	line-height: 43px;
	font-size: 62px; 
	position: relative;
	vertical-align:bottom;
}


 #hide-wrapper {
    position: relative;
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
}

 #subscribed {
	position: absolute;
	top: 6350px;
 }


#scrollImage {
	position: fixed;
	z-index: 1000; margin-left: -34px;
	bottom: -100px;
	left: 50%;
	cursor: pointer;
}

ul, ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0 7px 0 0;
    height: 44px;
 }

ul li a, ul li a:hover, #impressum a {
    font-size: 90%;
 }


/* -------------- Header ----------------- */

.index2 .connect {
	max-width: 700px;
	display: block;
	font-size: 95%;
	position: relative;
	z-index: 3;
	margin-top: 90px;
}

.index2 .connect a {
	display: block;
	margin-bottom: 20px;
}

.index2 #appstoreTop,
.index2 #appstoreBottom {
	background: transparent url(../images/ab-test/buy-now-custom-sprite.gif) top left no-repeat;
	height: 111px;
	width: 220px;
}

.index2 #appstoreTop:hover,
.index2 #appstoreBottom:hover {
	background-position: -220px 0px;
}

.index2 .connect h3 {
	font-size: 120%;
	margin: 0px;
}

.index2 #benLargeCharacter {
	position: absolute;
	right: 0px;
	top: 20px;
	z-index: 11;
	
}

.index2 #priceTag {
	position: absolute;
	left: 550px;
	z-index: 10;
	top: -20px;
}

header, footer {
	display: block;
	width: 56em;
	margin: 0 auto;
    overflow: hidden;
}

.index2 header h1 {
	color: #ffffff;
	font-size: 137px;
	line-height: 97px;
	letter-spacing: -0.03em;
}

.index2 header {
	padding: 110px 400px 80px 40px;
	width: auto;
	position: relative;
	max-width: 800px;
	background: #000 url(../images/ab-test/ben-iphone.jpg) right 40px no-repeat;
}

.index2 #ben_character {
	display: none;
}

.index2 header div {
	margin-left: 5px;
}

.index2 .review {
	margin-top: 15px;
	margin-bottom: 0px;
	max-width: 700px;
}

.index2 .name {
	margin-top: 0px;
	font-weight: bold;
}

.index2 .stars {
	color: #fff;
	font-size: 120%;
}

header p {
	margin: 0.3em 0 1em 0;
}


/* sign up form */
#house-bottom {
    z-index:100;
	width: 700px;
    position:relative;
}

#sign_up_form {
	margin: 28px 0px 1em;
	width: auto;
	background-color: #252525;
	-webkit-border-radius: 2.5em;
	-moz-border-radius: 2.5em;
	border-radius: 2.5em;
	padding: 2.4em 2.4em 2.2em 2.5em;
}

#logos {
	text-align: center;
	max-width: 614px;
	height: 65px;
	margin: 45px auto 16px auto;
}

#logos a, #logos img {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border: 0;
	padding: 0;
}

#nerdlink {
	margin: 1px 0 0 0;
}

#appersonalitylink {
	margin: 0 0 0 83px;
}

#toTheTop {
	margin: 0 auto;
	display: block;
	width: 5em;
	text-align: center;
}

#impressum ul, #impressum ul li {
	height: auto;
	margin: 0;
    text-align: center;    
}

#impressum ul {
	margin: 5px auto 20px;
	display: block;
}

#impressum img, #impressum a {
	font-size: 65%;
 	vertical-align: baseline;
	display: block;
	margin-right: 27px;
	color: #4b4c47;
}
 
 #impressum li:last-child a {
 	margin-right: 0px;
 }

#sign_up_form div, #sign_up_form h2 {
	display: inline-block;
	vertical-align: middle;
    white-space: nowrap;
}

#sign_up_form.subscribed {
    text-align: center;
	width: auto;
	padding-bottom: 1.7em;
 }

#sign_up_form.subscribed h2 {
    font-size: 167px;
    line-height: 110px;
	margin: 0 0 10px 0;
}

form {
    float: right;
	display: inline-block;
	position: relative;
	vertical-align:middle;
	top: 0.1em;
}

form input.text {
	text-transform: lowercase;
	padding: 0.5em 1.1em;
	margin: -0.1em 0.5em 0 0;
	color: #CCC;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	background-clip:border-box;
	font-style: italic;
	font-size: 100%;
	width: 15em;
	border: none;
	vertical-align: middle;
}

form input.text:active, form input.text:focus {
	outline: 0;
	background-color: #7d8695;
	color: #333;
}

form > input[type=email]:focus:required:invalid {
        background-color: #ffdada;
        color: #292929;
}

form input:required:valid {
background-color: white;
    color: #292929;

}

form input.submit {
	background: transparent url(../images/submitSprite.png) no-repeat left center;
	line-height: 80%;
	vertical-align: middle;
	background-color: transparent;
	width: 41px; height: 41px;
	border: none;
	display: inline-block;
	text-indent:-9999px;
	cursor:pointer;
	margin-top: 1px;
	margin-right: 0;
}

form input.submit:active, form input.submit:focus {
	background: transparent url(../images/submitSprite.png) no-repeat right center;
	outline: 0;
}

#form_description {
	float: none;
	width: 34em;
	position: relative;
	margin-top: 1.3em;
}

#form_description p {
	font-size: 100%;
	float: left;
	margin-top: 14px;
}

#form_description a {
	float: right;
	display: block;
	margin-top: 37px;
	margin-right: 20px;
}

#form_description div {
	float: right;
}

#form_description a, #form_description a img {
	font-size: 65%;
	vertical-align: middle;
	color: #c7c7c7;
}

a#signup, a#subscribed {
	width: 0;
	height: 0;
	font-size: 0;
	margin-right: -5px;
}

.index2 #appstoreBottom {
	display: block;
	width: 314px;
	height: 162px;
	position: relative;
	background: transparent url(../images/ab-test/buy-button-large.jpg) top left no-repeat;
	margin: 0px auto;
}

.index2 #appstoreBottom:hover {
	background-position: -314px 0px;
}

.index2 #press {
	position: relative;
	width: auto;
	padding: 42px 40px 46px 340px;
	background: #252525 url(../images/ab-test/ben-press-box.jpg) 10px 0px no-repeat;
	-webkit-border-radius: 2.5em;
	-moz-border-radius: 2.5em;
	border-radius: 2.5em;	
}

.index2 .bbc {
	width: auto;	
	padding: 25px 9px;
}

.index2 .press_btn {
	width: 314px;
	height: 84px;
	background: transparent url(../images/ab-test/download-presskit.gif) no-repeat top left;
	font-size: 0px;
	display: block;
}

.index2 .press_btn:hover {
	background-position: -314px 0px;
}


.index2 #wrong {
	width: auto;
	text-align: center;	
}

.index2 #wrong h1 {
}

.index2 #wrong p {
	margin-top: 20px;
}

.index2 .features-panel {
	max-width: 865px;
	margin: 0px auto 110px;
	position: relative;
	overflow: hidden;
}

.index2 .features-image {
	width: 320px;
	height: 480px;
	background: #000 url(../images/ab-test/screenshot-background.jpg) no-repeat center center;
	padding: 20px;
}

.index2 .left {
	float: left;
	margin-right: 15px;
}

.index2 .right {
	float: right;
	margin-left: 15px;
}

.index2 .features-panel ul {
	max-width: 465px;
	margin: 0px;
	display: block;
	float: left;
	margin: 0px;	
	padding-left: 20px;	
	height: auto;
}

.index2 .features-panel li {
	display: block;
	height: auto;
	margin: 30px 0px 0px;
}

.index2 .features-panel h1 {
	position: relative;
	float: left;
	margin: 75px 0px 5px;
	max-width: 465px;
	padding-left: 20px;		
	font-size: 90px;
	line-height: 66px;
}

/* special styles for ie6 and ie7 */

.ie6 body, 
.ie7 body {
	font-size: 115%;
}

.ie6 #impressum ul, 
.ie7 #impressum ul {
    width: 650px;
    padding-left: 30px;
    margin: 18px auto 0px;
	float: none;
}

.ie6 #impressum,
.ie7 #impressum {
	margin-bottom: 0px;
}

.ie6 #logos,
.ie7 #logos {
	margin-bottom: 50px;
}

.ie6 #impressum ul li, .ie6 #impressum ul li a,
.ie7 #impressum ul li, .ie7 #impressum ul li a 
{
	display: block;
	float: left;
	margin-right: 10px;
}

.ie6 #sign_up_form form, .ie7 #sign_up_form form {
    width: 380px;
}

.ie6 #sign_up_form.subscribed h2, .ie7 #sign_up_form.subscribed h2 {
	line-height: 70%;	
}
   	
/*================================================ 1920 Desktop Version ======================================*/

/* removed */

/*=====================================================  1110px  =============================================*/

@media only screen and (max-width: 1110px) {

		.index2 header div {
			margin-left: 0px;
		}
		

		 #subscribed {
		    top: 4250px;
		 }
		
		.index2 #priceTag {
			left: 40%;
			top: -20px;
		}
		
		.index2 .header {
			width: 90%;
		}
		
		.index2 header h1 {
			font-size: 95px;
			line-height: 68px;
		}

}

@media only screen and (max-width: 865px) {

	.index2 .features-panel {
		max-width: 865px;
		margin: 0px auto 140px;
		position: relative;
		overflow: hidden;
	}
	
	.index2 #priceTag {
		left: 30%;
		top: -20px;
	}	
	
	.index2 .features-image {
		position: relative;
		display: block;
	}


	.index2 .left,
	.index2 .right {
		float: none;
		margin: 0px auto;
	}
	
	.index2 .features-panel ul {
		max-width: 465px;
		margin: 0px auto;
		padding: 0px 20px;
		float: none;
	}
	
	.index2 .features-panel li {
		display: block;
		height: auto;
		margin: 30px 0px 0px;
	}
	
	.index2 .features-panel h1 {
		position: relative;
		float: none;
		margin: 55px auto 5px;
		max-width: 465px;
		padding: 0px 20px;	
	}
}

/*iPod landscape 480 px (30em) -----------------------------------------*/
@media only screen and (max-width: 750px) {

	body {
		font-size: 100%;
        -webkit-text-size-adjust: none;
        background-color: #000;
    }

    a {
    	border-radius: 0.2em;
    }

	.index2 #container {
		width: 100%;
	}

	.index2 header {
		padding: 20px 0px 30px 20px;	
	    position: relative;
		height: auto;
		width: auto;
		background: transparent;
    }
    
    .index2 #ben_character {
    	right: -20px;
    	position: absolute;
    	top: 90px;
    	display: block;
    	
		right: -70px;
		top: 140px;
		width: 214px;
		height: 350px;
    	
    }
    
    .index2 header div {
    	margin: 0px 20px 0px 0px;
    }
	
	.index2 header h1 {
		font-size: 75px;
		line-height: 56px;
		padding-left: 0px;
		margin-left: 0px;
	}
	
	.index2 #priceTag {
		display: none;
	}
	
	.index2 #appstoreTop {
		margin-top: 20px;
	}
	
	.index2 .review br {

	}
	
	.index2 .review_container {
		padding-right: 115px;
	}
	
	.index2 .connect {
		margin-top: 10px;
		max-width: 350px;
	}
	
	.index2 .connect br {
		display: none;
	}

    h1 {
        font-size: 240%;
    }
    
    .index2 .features-panel h1 {
    	font-size: 70px;
    	line-height: 55px;
    }


	.index2 .bbc {
		max-width: 300px;
		margin: 0px auto;
	}
	.index2 #press {
        padding: 1.2em 1.2em 1.9em 1.2em;
        background: transparent;	
	}
	
	.index2 .press_btn {
		float: none;
		margin: 0px auto;
	}
	
	.index2 #logos {
		height: auto;
	}

	.index2 #logos a,
	.index2 #logos img {
		float: none;
		clear: both;
	}

	#sign_up_form > div {
		float: none;
		text-align: left;
	}
	
	#house-bottom {
	   width: auto;
       max-width: 447px;	
	}

	.index2 #sign_up_form {
        top:230px;
        -webkit-border-radius: 1em;
        padding: 1.2em 1.2em 1.9em 1.2em;
        width: auto;
    }
    
    .index2 #sign_up_form form {
    	float: none;
    	top: 53px;
    }

    div#form_description {
		top: 0;
        width: auto;
        color: #888;
        white-space: normal;
    }

	div#form_description br {
		display: none;
	}

	#sign_up_form > h2 {
		font-size: 50px;
		position: relative;
		top: -42px;
    }

    form >input.text, form >input[type=email] {
        margin: 0 1em -1em 0;
        width: 60%;
        color: #666;
    }

    form >input.submit {
        width: 41px;
        height: 41px;
        position: relative;
        top: 0.8em;
    }

    #impressum {
    	top: 250px;
    	width: auto;
        max-width: 25em;
    }

	#impressum ul {
		display: block;
		margin: 0;
		float: none;
	}

    #scrollImage {
        margin-left: -34px;
        bottom: -65px;
    }

/* impressum iPhone landscape*/


	article {
		float: none;
		clear: both;
		top: 40px;
		left: 72px;
		width: 80%;
	}

	#impressum a {
		font-size: 85%;
	}
	
	#impressum .logo {
		float: left;
		margin: 30px 0 30px 20px;
	}

	.index2 #appersonalitylink {
		margin-left: 0px;
	}

/* iPhone landscape after e-mail signup */

    #sign_up_form.subscribed {
     	text-align: center;
        padding: 1.7em 1.2em 1.4em 1.2em;
    }

    #sign_up_form.subscribed h2 {
     	font-size: 600%;
        line-height: 70%;
        top: 0px;
    }
    
    .index2 .press_btn {
		background-image: url(../images/ab-test/download-presskit-360.gif);    
    }
    
    .index2 #appstoreBottom {
		background-image: url(../images/ab-test/buy-button-large-360.jpg);		    
    }
    
    .index2 #wrong {
    	margin-top: 20px;
    }
    
    .index2 #wrong h1 {
    	float: none;
    	width: 100%;
    	text-align: center;
    }
    
    .index2 #wrong p {
    	float: none;
    	max-width: 280px;
    	text-align: center;
    	margin: 0px auto;
    	padding: 0px 20px;
    }
    
    .index2 #toTheTop {
    	margin-top: -20px;
    }
		
}

@media only screen and (max-width: 480px) {
	body {
		background: #000 url(../images/ab-test/city-bottom-480.jpg) bottom center no-repeat;
	}
}

@media only screen and (max-width: 440px) {
	.index2 #ben_character {
		right: -70px;
		top: 140px;
		width: 214px;
		height: 350px;
	}
}


@media only screen and (max-width: 360px) {
	
	.index2 .features-image {
		width: 260px; 
		height: 390px;
		background-image: none;
		padding: 0px;
	}
	
	.index2 .press_btn {
		width: 280px;
		background-size: 560px 75px;
	}
		
	.index2 #appstoreBottom {
		width: 280px;
		background-size: 560px 144px;
	}
	
	.index2 #appstoreBottom:hover,
	.index2 .press_btn:hover 		{
		background-position: 280px 0px;
	}
				
}

/*   DEBUG STYLES    */

/* add class "debug" to body to use */

.debug h1,
.debug h2,
.debug h3 {
	border: 1px solid #ff00ff;
}

.debug p,
.debug div,
.debug header,
.debug ul {
	border: 1px solid #ffff00;
}



.debug a,
.debug img,
.debug iframe,
.debug li {
	border: 1px solid #00ffff;
}


</style>